body{
    
    background-image: url('gambar/library.jpg');
    
}

img{
    width: 100%;
    height: 550px;
    
}
.p-2{
    padding: 20px;
}
*{
    box-sizing: border-box;
}
.row-after{
    content: "";
    clear: both;
    display: table;
} 

@media screen and (min-width:600px) {
    body{
        background-image: url(gambar/library.jpg);
        size: 100%;
        
    }     
}

@media screen and (min-width : 992px) {
    body{
        background-image: url(gambar/library.jpg);
    }
    

}
